PORT=5500

# Database
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=pelayanan_desa

# Upload
MAX_FILE_SIZE=5242880

# AWS S3 Configuration
AWS_REGION=ap-southeast-1
AWS_BUCKET_NAME=your-bucket-name-here
AWS_ACCESS_KEY_ID=your-access-key-here
AWS_SECRET_ACCESS_KEY=your-secret-key-here
